#sticky-header {
  background-color: white;
  opacity: .9;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 200;
  text-align: center; }

#sticky-menu {
  color: darkgray; }

#sticky-ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: none;
  position: relative;
  background-color: white; }

.sticky-li {
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 20px 0; }

.sticky-nav-a {
  color: darkgray; }

#sticky-name-sub-container {
  position: relative; }

.sticky-p {
  color: darkgray; }

#main-container {
  width: 100%;
  height: auto;
  position: relative; }

#header-image-container {
  height: 100vh;
  width: 100%;
  background-image: url(/img/wodoPier.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center; }

#main-logo {
  background-color: transparent;
  border: 10px solid darkgray;
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  margin: 0 auto; }

#desktop-nav {
  position: absolute;
  bottom: 50px;
  right: 50px; }

.desktop-nav-a {
  color: white;
  padding: 0 10px;
  text-decoration: none; }

.come-in-div {
  width: 100%;
  height: 75vh;
  background: white;
  position: relative;
  opacity: 0;
  display: inline-flex;
  margin-top: 50px; }

.project {
  width: 50%;
  height: 100%;
  margin: auto auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  background-image: url(/img/marineroPortfolioImage1.png);
  overflow: hidden; }

#project-two {
  background-image: url(/img/lightboxExamplePortfolio.png); }

.overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .25s ease;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  display: inline-flex; }

.overlay:hover {
  opacity: 1; }

.overlay-p {
  color: white;
  margin: auto auto; }

#buffer {
  width: 100%;
  height: 200px;
  background: darkgray;
  position: relative; }

#bottom-scroller {
  width: 100%;
  height: 200px;
  background: white;
  text-align: center;
  color: darkgray;
  position: absolute;
  bottom: 0;
  display: none; }

#footer-ul {
  list-style: none;
  padding: 0; }

.footer-li {
  display: inline-block; }

#github-svg {
  width: 40px; }

#facebook-svg {
  width: 45px; }

#facebook-svg:hover {
  opacity: .8; }

#facebook-svg path {
  fill: gray; }

#email-svg {
  width: 40px; }

#medium-icon {
  width: 40px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.come-in {
  transform: translateX(-100%);
  animation: come-in 1s ease forwards; }

@keyframes come-in {
  to {
    transform: translateX(0); } }
.come-in-2 {
  transform: translateX(100%);
  animation: come-in 1s ease forwards; }

@keyframes come-in-2 {
  to {
    transform: translateX(0); } }

/*# sourceMappingURL=styles.css.map */
