#sticky-header {
  background-color: white;
  opacity: .9;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 200;
  text-align: center; }

#sticky-menu {
  color: darkgray;
  cursor: pointer; }

#sticky-ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: none;
  position: relative;
  background-color: white; }

.sticky-li {
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 20px 0; }

.sticky-nav-a {
  color: darkgray;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer; }

#sticky-name-sub-container {
  position: relative; }

.sticky-p {
  color: darkgray;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0 0 0; }

#main-container {
  width: 100%;
  height: auto;
  position: relative; }

#header-image-container {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  background-image: url(/img/wodoPier.jpg); }

#header-image-container-project1 {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  background-image: url(/img/videoPlayerPortfolio.png); }

#main-logo {
  background-color: transparent;
  color: white;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center; }

#desktop-nav {
  position: absolute;
  bottom: 50px;
  right: 50px; }

.desktop-nav-a {
  color: white;
  padding: 0 10px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

.project-container {
  width: 100%;
  height: 1000px; }

.come-in-div {
  width: 100%;
  height: 50vh;
  background: white;
  position: relative;
  opacity: 0;
  display: flex; }

#buffer {
  width: 100%;
  height: 200px;
  position: relative; }

.svg-div {
  background-color: white;
  border-radius: 100%;
  width: 50px;
  height: 50px; }

.svg-div:hover {
  transform: rotate(30deg);
  transition: transform 1s ease-in-out; }

.grid {
  position: relative;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  width: 50%;
  height: 100%;
  margin: auto auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  overflow: hidden; }

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: black;
  text-align: center;
  cursor: pointer;
  margin: 0; }

.grid figure figcaption {
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none; }

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 100;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.grid figure h2 {
  font-weight: 300; }

.grid figure h2 span {
  font-weight: 800; }

.grid figure h2,
.grid figure p {
  margin: 0;
  font-family: 'Montserrat', sans-serif; }

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

#background-div-one {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/JessSmokePortfolio.jpg);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

#background-div-two {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/webDashboardPortfolio.png);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

#background-div-three {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/webAPIPortfolio.png);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

#background-div-four {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/wodoPier.jpg);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

#background-div-five {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/wodoPier.jpg);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

#background-div-six {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/registrationFormPortfolio.png);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

#background-div-seven {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/videoPlayerPortfolio.png);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

#background-div-eight {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/webDashboardPortfolio.png);
  -webkit-filter: blur(2px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120%;
  height: 120%; }

/* Individual effects */
/*---------------*/
/***** PROJECT *****/
/*---------------*/
figure.effect-project .background-div {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0); }

figure.effect-project figcaption {
  text-align: left; }

figure.effect-project figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 0 20px;
  width: 100%;
  height: 50%; }

figure.effect-project h2,
figure.effect-project p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0); }

figure.effect-project h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }

figure.effect-project p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s; }

figure.effect-project:hover .background-div {
  opacity: .2; }

figure.effect-project:hover p {
  opacity: .8; }

figure.effect-project:hover .background-div,
figure.effect-project:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-project:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s; }

#bottom-scroller {
  width: 100%;
  height: 200px;
  background: white;
  text-align: center;
  color: darkgray;
  position: absolute;
  bottom: 0;
  display: none; }

#footer-ul {
  list-style: none;
  padding: 0; }

.footer-li {
  display: inline-block;
  width: 50px;
  height: 50px; }

img {
  width: 190px;
  height: 190px;
  cursor: pointer; }

#github-svg {
  width: 45px; }

#github-svg path {
  fill: gray; }

#facebook-svg {
  width: 50px; }

#facebook-svg:hover, #github-svg:hover, #email-svg:hover {
  opacity: .8; }

#facebook-svg path {
  fill: gray; }

#email-svg {
  width: 39px;
  padding-top: 2px; }

#medium-icon {
  width: 50px;
  height: 50px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

#right-arrow {
  width: 50px;
  height: 50px;
  background: black;
  position: fixed;
  top: 50%;
  right: 0; }

#left-arrow {
  width: 50px;
  height: 50px;
  background: black;
  position: fixed;
  top: 50%;
  left: 0; }

.come-in {
  transform: translateX(-100%);
  animation: come-in 1s ease forwards; }

@keyframes come-in {
  to {
    transform: translateX(0); } }
.come-in-2 {
  transform: translateX(100%);
  animation: come-in 1s ease forwards; }

@keyframes come-in-2 {
  to {
    transform: translateX(0); } }

/*# sourceMappingURL=styles.css.map */
