

@import "Layout/header";
@import "Layout/containers";
@import "Layout/footer";
@import "Components/icons";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}












.come-in {
  transform: translateX(-100%);
  animation: come-in 1s ease forwards;
    
}


@keyframes come-in {
  to { transform: translateX(0); }
}


.come-in-2 {
  transform: translateX(100%);
  animation: come-in 1s ease forwards;
}


@keyframes come-in-2 {
  to { transform: translateX(0); }
}

