#about-header-image-container{
    height: 300px;
    width: 90%;
    margin: 0 auto;
}

#about-heading-h1{
    border-bottom: 1px solid darkgray;
}

.about-description {
    width: 90%;
    margin: 0 auto;
}