#about-header-image-container{
    height: 300px;
    width: 80%;
    margin: 0 auto;
}

#about-heading-h1{
    border-bottom: 1px solid darkgray;
}

.about-heading-h3 {
    color: rebeccapurple;
}

.about-description {
    width: 80%;
    margin: 0 auto;
}

.about-intro-container {
    
   }



.my-pic {
    width: 200px;
    height: 200px;
    background-image: url(/img/torreProfile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    float:right;
}

.letter-appear {
    display: none;
}

.resume{
    color: rebeccapurple;
}

.resume:hover {
  opacity: .6;
    color: black;
}

.pdf-svg {
    width: 50px;
    height: 50px;
}

.phone {
    color: rebeccapurple;
    font-size: 10px;
    }

.inner-a-p:hover {
  color: black;
}

.inner-a-p {
    margin: 0;
}

.about-p {
    margin: 20px 0 0 0;
    }