.description-buffers{
    border-bottom: 1px solid $gray-color;
    height: 20px;
    width: 200px;
    
}


#buffer{
    width: 100%;
    height: 200px;
    position: relative;
   
}

#buffer1{
    width: 100%;
    height: 100px;
    position: relative;
   
}




