
@mixin come-in {
    width: 100%;
    height: 75vh;
    background: white;
    position: relative;
    opacity: 0;
    display: inline-flex;
    margin-top: 50px;
}

@mixin project {
    width: 50%;
    height: 100%;
    margin: auto auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    background-image: url(/img/marineroPortfolioImage1.png);
    overflow: hidden;
    
}

//****************COME-IN-DIVS******************//
//**********************************************//
.come-in-div {
  @include come-in;
    }




//****************PROJECTS******************//
//**********************************************//

.project {
    @include project;
    }

#project-two {
    background-image: url(/img/lightboxExamplePortfolio.png);
   
}


.overlay {
    background:rgba(0,0,0,.75);
    text-align:center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    opacity:0;
    transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    display: inline-flex;
    
}

.overlay:hover {
    opacity: 1;
}

.overlay-p {
    color: white;
    margin: auto auto;
    
}






#buffer{
    width: 100%;
    height: 200px;
    background: darkgray;
    position: relative;
   
}
