
#sticky-header {
    background-color: white;
    opacity: .9;
    width: 100%; 
    display: none;
    position: fixed;
    z-index: 200;
    text-align: center;
   }

#sticky-menu {
    width: 60px;
    margin: 0 auto;
    color:darkgray;
    cursor: pointer;
    border-bottom: .5px solid darkgray;
    font-family: 'Tinos', serif;
}

#sticky-menu:hover {
    color:black;
}

#sticky-ul {
    width: 70px;
    margin: 0 auto;
    border-bottom: .5px solid darkgray;
    list-style: none;
    padding: 0;
    display: none;
    position: relative;
    background-color: white;
    }

.sticky-li {
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 12px 0;
    
}

.sticky-nav-a {
    color: darkgray;
    cursor: pointer;
    font-family: 'Tinos', serif;
}

.sticky-nav-a:hover {
    color:black;
}


#sticky-name-sub-container {
    position: relative;
   
}

.sticky-p{
    color: darkgray;
    font-weight: 100;
    font-size: 20px;
    margin: 20px 0 0 0;
}

.sticky-logo-div {
    color: black;
    font-weight: 100;
    width: 300px;
    margin: 10px auto;
}
.sticky-logo-name {
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 3px ;
    color: black;
}

.sticky-logo-tagline {
    color:black;
    font-weight: 100;
    font-size: 8px;
    letter-spacing:2px;
   
}





#main-container {
    width: 100%;
    height: auto;
    position: relative;
    }




#header-image-container {
    @include header-image-container;
    background-image: url(/img/wodoStars.jpg);
  }



#main-logo {
    background-color: transparent;
    color: white;
    width: 400px;
    height: auto;
    position: absolute;
    bottom: 47%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
   }

.logo-p{
    margin: 0;
   }

.logo-p:hover {
    color: rebeccapurple;
}


#main-logo-name {
    opacity: .8;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 12px;
    margin: 0;
    
}

#main-logo-tagline {
    opacity: .5;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 10px;
    line-height: 14px;
    margin: 0;
}

#desktop-nav {
    position: absolute;
    bottom: 50px;
    right: 50px;
    }

.desktop-nav-a {
    color:white;
    padding: 0 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.desktop-nav-a:hover {
    opacity:.6;
    }
