 


#where-p {
    width: 100%;
  }


#more-pic{
    background-image: url(/img/TaylorFitnessCoaching.jpg);
    background-size: cover;
    background-position: top ;
}

.my-pic:hover {
    transform: scale(1.2);
    transition: all .5s ease;
}