 
.more-intro-container{

    
    }

#where-p {
    width: 180px;
  }

#right-here-p {
   width: 100px;
}

#more-pic{
    background-image: url(/img/TaylorFitnessCoaching.jpg);
    background-size: cover;
    background-position: top ;
}