
.arrow {
  display: flex;
    align-items: center;
    cursor: pointer;
}

#right-arrow {
    width: 50px;
    height: 50px;
    background: white;
    opacity: .6;
    position: fixed;
    top: 50%;
    right:0;
    }

#left-arrow {
     width: 50px;
    height: 50px;
    background: white;
    opacity: .6;
    position: fixed;
    top: 50%;
    left:0;
    text-align: right;
    }

#left-arrow-svg {
   
    position: absolute;
    right:0;
    
}

#fight-arrow-svg{
    
}

#right-project {
    display: none;
}

#header-image-container-project1 {
    @include header-image-container;
    background-image: url(/img/videoPlayerPortfolio.png);
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    z-index: 100;
   
}

.project-overlay {
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: 105;
    }

.project-container {
    width: 90%;
    height: 1000px;
    margin: 0 auto;
}

.project-picture-label-container {
    overflow:hidden;
}

.project-picture-label {

    font-size: 70px;
}

.bottom-project-container {
    background-image: url(/img/videoPlayerPortfolio.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    }

