
.arrow {
  display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 200;
}

#right-arrow {
    width: 200px;
    height: 60px;
    background: white;
    opacity: .6;
    position: fixed;
    top: 45%;
    right:-150px;
    cursor: pointer;
    }

#right-arrow:hover {
    opacity: 1;
}

#left-arrow {
    width: 200px;
    height: 60px;
    background: white;
    opacity: .6;
    position: fixed;
    top: 45%;
    left:-150px;
    text-align: right;
    cursor: pointer
    }

#left-arrow:hover {
    opacity: 1;
}


#right-arrow-svg{
    margin-left: 13px;
}
#right-project {
  
    margin-left: 20px;
    margin-right: 10px;
    
}

#left-project {
    margin-left: 60px;
    margin-right: 20px;
    }

.project-arrow-a {
    color: black;
}

.right-arrow-h5, .left-arrow-h5 {
    color:rebeccapurple;
}








/********************** HEADER*******************/

.top-of-header-container{
    width: 100%;
    background: white;
    height: 95px;
    display: flex;
    align-items: center;
}

.top-of-header-logo-container{
    margin-left: 10px;
    text-align: center;
}

#header-image-container-marinero {
    @include header-image-container;
     @include project-container;
    background-image: url(/img/iphoneJessSmoke.jpg);
    
   }



.project-overlay {
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0;
    z-index: 105;
    }

.project-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    
}

.project-heading-h1 {
    margin-bottom: 0;
}

.project-heading-h5 {
    margin-top: 0;
    color: rebeccapurple;
}

.project-heading-h3{
    margin-top: 0;
    margin-bottom: 100px;
    display: inline-block;
    color: darkgray;
    font-style: italic;
    font-weight: 100;
    border-bottom: .5px solid darkgray;
}



.project-description {
    margin-bottom: 50px;
}

.project-description-containers {
    margin-right: 20px;
}

.project-intro-title {
    color:black;
}

#project-details-p {
    width: 200px;
}

.project-intro-p {
    color: darkgray;
    font-size: 12px;
}
.bottom-project-container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    }
.bottom-project-container-right{
    width: 50%;
    height:100%;
}
.bottom-project-container-left {
    height:100%;
    width:50%;
    background-image: url(/img/jessRed.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;    
    }

.bottom-project-container-right-top {
    height:45%;
    width:100%;
     background-image: url(/img/jessContact.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;    
    
}

.bottom-project-container-right-bottom {
    height:55%;
    width:100%;
     background-image: url(/img/jessBio.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;    
}



