
#work-image-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 100;
   }

.work-container-row{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    }

.work {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    }

.work-label-container {
    width: 300px;
    height: auto;
    margin: 10px auto;
    }

.work-label-h2 {
    margin: 0;
    color: black;
    font-family: 'Tinos', serif;
    }

.work-label-h5 {
    margin: 0;
    color: rebeccapurple;
    font-family: 'Tinos', serif;
}

.work-label-buffer{
    height:1px;
    width:20px;
    border: .5px solid $gray-color;
   
}



#marinero-work-container{
      background-image:url(/img/marinero_img/JessSmokePortfolio.jpg);
}

#lightbox-work-container{
     background-image:url(/img/lightbox_img/lightbox_desktop_search.png);
   }

#web-dashboard-work-container{
    background-image:url(/img/web_dashboard_img/web_dashboard_full.png);
   }


.work:hover {
    -webkit-animation: zoomin 2s ;
    -webkit-animation-fill-mode: forwards;
}



@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.05);
    }

}