#github-svg {
    width: 40px;
    
}

#facebook-svg {
    width: 45px;
    
}

#facebook-svg:hover {
    opacity: .8;
    
}

#facebook-svg path{
    fill: gray;
    
}

#email-svg {
    width: 40px;
    
}

#medium-icon {
    width: 40px;
    
}