img {
    width: 190px;
    height: 190px;
}

#github-svg {
    width: 45px;
    }
#github-svg path {
    fill:gray;
}

#facebook-svg {
    width: 50px;
    }

#facebook-svg:hover, #github-svg:hover, #email-svg:hover {
    opacity: .8;
    }

#facebook-svg path{
    fill: gray;
    }

#email-svg {
    width: 39px;
    padding-top: 2px;
    }

#medium-icon {
    width: 50px;
    height: 50px;
    }