$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-screen: 1824px;
@media (min-width: $breakpoint-tablet) {
    .bottom-project-container {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
   }
.bottom-project-container-right{
    width: 50%;
    height:100%;
    
}

.bottom-project-container-left {
    height:100%;
    width:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
     border: 1px solid $gray-color;
    
    }

.bottom-project-container-right-top {
    height:45%;
    width:100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
     border: 1px solid $gray-color;
    
}

.bottom-project-container-right-bottom {
    height:55%;
    width:100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;  
     border: 1px solid $gray-color;
}
    .project-description{
        display: flex;
        justify-content: space-between;
        
    }
    .about-description {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        }
    .about-intro-container {
        width: 195px;
    }
    
    .more-intro-container {
        width: 195px;
    }
    
    .project-description-containers {
        width: 195px;
    }
    
    #header-image-container-marinero{
        background-size: contain;
    }
    #header-image-container-taylor-fitness {
         background-size: contain;
    }
    
    #header-image-container-contact-form {
         background-position: bottom;
    }
    .description-buffers {
        display: none;
    }
    .work-container-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .work{
        margin-top:30px;
    }
   
}


@media (min-width: $breakpoint-desktop) {
    
    #header-image-container {
        background-attachment: fixed;
    }
    
    .about-intro-container {
        width:275px;
    }
    
    .more-intro-container {
        width: 275px;
    }
    
    .project-description-containers {
        width: 275px;
    }
    .work {
        margin-top: 10px;
    }
}

@media (min-width: $breakpoint-large-screen) {
    
   
    .work {
        width: 400px;
        height:400px;
        }
    .work-label-container {
        width: 400px;
    }
    
    #main-logo-name {
        font-size: 22px;
    }
    
    #main-logo-tagline{
        font-size: 16px;
    }
    
    .project-intro-p {
        font-size: 16px;
    }
    
    .project-intro-title {
        font-size: 22px;
    }
    
    .phone {
        font-size: 14px;
    }
    
    .my-pic {
        width: 400px;
        height: 400px;
    }
    
    .desktop-nav-a {
        font-size: 22px;
    }
    
    .about-description, .project-description {
        height: 600px;
    }
    
    
}