$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
    .project-description{
        display: flex;
    }
    
    .about-description {
        display: flex;
    }
    
    #header-image-container-marinero{
        background-size: contain;
    }
    
    .description-buffers {
        display: none;
    }
    .work-container-row{
        display: flex;
    }
    .work {
        margin: 0 10px 0 10px;
    }
}